{
  root: true,
  "extends": ["taro"],
  "rules": {
    "no-unused-vars": ["error", { "varsIgnorePattern": "Taro" }],
    'space-before-function-paren': 0,
    "comma-dangle": [1, "always-multiline"],
    "no-extra-semi": 0,
    "semi": [2, "always"],
    "yoda": [1, "always"],
    "react/jsx-filename-extension": 0,
    "quotes": [2, "single", "avoid-escape"],
    "react/jsx-tag-spacing": ["beforeSelfClosing"],
    "brace-style": [
      2,
      "stroustrup"
    ],
  },
  globals: {
    wx: true,
  },
  "parser": "babel-eslint"
}
